<!DOCTYPE html>
<html>
<head>'<meta charset='utf-8'>
  <title></title>
</head>
<body>
  <h1>Mean, Median, and Mode!</h1>
  <div data-ng-app='mmmApp'>
    <div data-ng-controller='mmmCtrl'>
      <label>Enter Numbers:</label></br>
      <input type='text' data-ng-model='mmm.nums'/>
      <button data-ng-click='collectNums()'>Calculate</button>
      </br>
      </br>
      <div data-ng-hide='hidemmm'>
        <p> Mean: {{mmm.mean}} </p>
        <p> Median: {{mmm.median}} </p>
        <p> Mode: {{mmm.mode}} </p>
      </div>
    </div>
  </div>

  <script src='client_bundle.js'></script>
</body>
</html>
